{
  "ConnectionStrings": {
    "Oracle": "User Id=akaru;Password=SUA_SENHA;Data Source=HOST:1521/XEPDB1"
  },
  "Firebase": {
    "ProjectId": "seu-projeto-firebase",
    "CredentialsPath": "firebase-credentials.json",
    "UseMockAuth": false
  }
}
