{
  "ConnectionStrings": {
    "Oracle": "User Id=akaru;Password=SUA_SENHA;Data Source=localhost:1521/XEPDB1"
  },
  "Jwt": {
    "Secret": "SUA-CHAVE-SECRETA-COM-PELO-MENOS-32-CARACTERES",
    "Issuer": "AkaruAPI",
    "Audience": "AkaruApp",
    "ExpirationHours": 24
  }
}
